name: Publish to NPM and Docker Hub
on:
  release:
    types: [ published ]
env:
  GIT_TERMINAL_PROMPT: 1
jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      id-token: write  # Required for OIDC/Trusted Publishing
      contents: read
    steps:
      - uses: actions/checkout@v4
        with:
          # Necessary for changelog generation
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          registry-url: 'https://registry.npmjs.org'
      
      - name: Ensure npm 11.5.1+
        run: npm install -g npm@^11

      - run: npm ci

      - name: Bump version and generate changelog
        run: |
          tag=${{ github.event.release.tag_name }}
          version="${tag//[v]/}"
          # Adding version to env for Docker publishing step
          echo "VERSION=$version" >> $GITHUB_ENV
          npm --no-git-tag-version --allow-same-version version $version
          npm i -g auto-changelog
          auto-changelog --hide-credit -l 100

      - name: Create npm package tarball
        run: npm pack

      - name: Publish to npm
        run: npm publish *.tgz

      - name: Set up QEMU (build against more platforms)
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push image to Docker Hub
        uses: docker/build-push-action@v4
        with:
          context: .
          # Using node:18-alpine supported platform
          platforms: linux/amd64,linux/arm/v6,linux/arm/v7,linux/arm64/v8,linux/ppc64le,linux/s390x
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/json-rpc:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/json-rpc:${{ env.VERSION }}
